@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;500;700&display=swap');



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.center {
  text-align: center;
}

footer {
  position: fixed;
  bottom: 10px;
  font-size: 20px;
}

.web404 {
  background-color: cornflowerblue;
  border-style: solid;
  border-width: 10px;
  border-color: #2bbee7;
  border-radius: 15px;
}

.box {
  border-radius: 50px;
  border-width: 2px;
  border-style: solid;
  border-color:  rgba(246, 183, 186, 0.424);
  background-color: rgba(251, 178, 178, 0.424);
  backdrop-filter: blur(25px);
  background-position: center;
  background-repeat: no-repeat;
  padding: 5%;
  width: 55%;
  height: auto;
}

.font {
  font-family: 'Sora', sans-serif;
  color: whitesmoke;
}
.link:link {
  font-family: 'Sora', sans-serif;
  color: #1f69f3;
}
.link:visited {
  font-family: 'Sora', sans-serif;
  color: #0a8de4;
}
.link:hover {
  font-family: 'Sora', sans-serif;
  color: #2723df;
}
.link:active {
  font-family: 'Sora', sans-serif;
  color: #0b6a85;
}
.big {
  font-size: 100px;
}


img {
  max-width: 15%;
  height: auto;
}

.PFP {
  border-radius: 60%;
  border-style: solid;
  border-collapse: inherit;
  border-spacing: 10px;
  border-width: 15px;
  border-color: rgb(192, 52, 52);
  background-color: rgb(192, 52, 52);
  
}

.linuxBox {
  border-radius: 30%;
  border-style: solid;
  border-width: 5px;
  background-color: rgb(211, 208, 208);
  width: fit-content;
  height: auto;
}

.App-header {
  background-image: url('https://i.redd.it/yfr3eznwutj01.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}

.VoltLogo {
  border-color: rgba(11, 89, 233, 0.294);
  border-width: 5px;
  border-style: solid;
  border-radius: 100px;
}
.VoltButton {
  border-color: rgba(42, 115, 250, 0.294);
  background-color: rgb(119, 161, 240);
  color: whitesmoke;
  font-family: 'Sora', sans-serif;
  border-width: 3px;
  border-style: solid;
  border-radius: 100px;
  
}
.VoltButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.VoltButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.VoltButton:hover span {
  padding-right: 25px;
}

.VoltButton:hover span:after {
  opacity: 1;
  right: 0;
}

.PootLogo {
  border-color: rgba(255, 145, 0, 0.63);
  border-width: 5px;
  border-style: solid;
  border-radius: 100px;
}


.App-link {
  color: #61dafb;
}


.DiscordBox {

  border-style: solid;
  border-width: 5px;
  border-radius: 25%;
  width: 15%;
  height: auto;
  padding: 15px;
}

.DiscordButton {
  background-color: #5865F2;
  
}

.DiscordLogo {
  width: 50%;
  height: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
